trigger:
- main

pool:
  name: Default

steps:
- checkout: self

- script: |
    echo "JAVA_HOME=%JAVA_HOME%"
    .\mvnw.cmd -version
    .\mvnw.cmd clean package -DskipTests
  displayName: "Maven build"
